<main class="main-content-page">
  <div class="container">
    <section>
      <!-- Sección agregada -->
      <h1>{{title}}</h1>
      <p>
        {{explanation}}
      </p>
      <h2 class="section-title-page">Ejemplo</h2>
      <div class="example example-section-page col-sm-12 col-md-12 col-lg-12">
        <!-- Aquí puedes insertar tu ejemplo -->
        <div class="inner-box">
          <!-- Nuevo cuadro interior -->
          {{example}}
        </div>
      </div>
    </section>
    <h2 class="section-title-page">Video</h2>
    <div class="row">
      
      
        <!-- Lista de resultados de búsqueda simulados -->
        
      
        @for (video of videos; track video; let i = $index;) {
          @if (i < 3) {
            <app-video class="video-section example-section col-sm-12 col-md-6 col-lg-4" [linkVidedo]="video.link"></app-video>
        }
        }
      
      
    </div>
    <button [ngStyle]="{'display': moreThanThree ? '' : 'none'}" class="btn-ver-mas" (click)="goToVideos()">Ver más</button>
  </div>
</main>