<main>
    <!-- Lista de resultados de búsqueda simulados -->
    <div class="search-result">
      <h2><a href="/page" routerLink="/page" routerLinkActive="active" >Título del Resultado de Búsqueda</a></h2>
      <p>Descripción corta del resultado de búsqueda. Esto es lo que se mostrará debajo del título en los resultados de búsqueda. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla nisl eros, nec suscipit nulla vestibulum eget.</p>
    </div>

    <div class="search-result">
      <h2><a href="/page" routerLink="/page" routerLinkActive="active" >Título del Segundo Resultado</a></h2>
      <p>Descripción corta del segundo resultado de búsqueda. Sed fringilla nisl eros, nec suscipit nulla vestibulum eget. Ut ac lorem nec magna bibendum tincidunt.</p>
    </div>

    <!-- Agrega más resultados según sea necesario -->

    <div class="search-result">
      <h2><a href="/page" routerLink="/page" routerLinkActive="active" >Título del Segundo Resultado</a></h2>
      <p>Descripción corta del segundo resultado de búsqueda. Sed fringilla nisl eros, nec suscipit nulla vestibulum eget. Ut ac lorem nec magna bibendum tincidunt.</p>
    </div>

    <div class="search-result">
      <h2><a href="/page" routerLink="/page" routerLinkActive="active" >Título del Segundo Resultado</a></h2>
      <p>Descripción corta del segundo resultado de búsqueda. Sed fringilla nisl eros, nec suscipit nulla vestibulum eget. Ut ac lorem nec magna bibendum tincidunt.</p>
    </div>
  </main>