<main class="main-content-page">
    <div class="container">
      <h1 class="section-title-page">Añadir página</h1>
      <br>
      <form [formGroup]="formAddPage" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título de la Página:</label>
          <input type="text" class="form-control" id="titulo" formControlName="title" required>
        </div>
  
        <div class="mb-3">
          <label for="explicacion" class="form-label">Explicación:</label>
          <textarea class="form-control" id="explicacion" formControlName="explanation" rows="4" required></textarea>
        </div>
  
        <div class="mb-3">
          <label for="codigo-ejemplo" class="form-label">Código de Ejemplo:</label>
          <textarea class="form-control" id="codigo-ejemplo" formControlName="example" rows="6" required></textarea>
        </div>
  
        <div class="mb-3">
          <label for="enlaces-video" class="form-label">Enlaces de Video:</label>
          <input type="text" class="form-control" id="enlaces-video" formControlName="videosLink">
        </div>
  
        <div class="btn-group mb-3">
          <button type="submit" class="btn-ver-mas" style="margin-right: 20px;" (click)="addingPage()">Añadir Página</button>
        </div>
      </form>
    </div>
  </main>
  
