<main class="main-content-page">
    <div class="container">
        <form id="myForm">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título de la Página:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>

            <div class="mb-3">
                <label for="explicacion" class="form-label">Explicación:</label>
                <textarea class="form-control" id="explicacion" name="explicacion" rows="4" required></textarea>
            </div>

            <div class="mb-3">
                <label for="codigo-ejemplo" class="form-label">Código de Ejemplo:</label>
                <textarea class="form-control" id="codigo-ejemplo" name="codigo-ejemplo" rows="6" required></textarea>
            </div>

            <div class="mb-3">
                <label for="enlaces-video" class="form-label">Enlaces de Video:</label>
                <input type="text" class="form-control" id="enlaces-video" name="enlaces-video">
            </div>

            <div class="btn-group mb-3">
              <button class="btn-ver-mas" style="margin-right: 20px;">Guardar Cambios</button>
          </div>
          
        </form>
    </div>
</main>