<main class="main-content-page">
    <div class="container">
        <h1 class="section-title-page">Editar página</h1>
        <form id="myForm" [formGroup]="formEditPage" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="title" class="form-label">Título de la Página:</label>
                <input type="text" class="form-control" id="title" name="title" formControlName="title" required>
            </div>

            <div class="mb-3">
                <label for="explanation" class="form-label">Explicación:</label>
                <textarea class="form-control" id="explanation" name="explanation" rows="4" formControlName="explanation"required></textarea>
            </div>

            <div class="mb-3">
                <label for="example" class="form-label">Código de Ejemplo:</label>
                <textarea class="form-control" id="example" name="example" formControlName="example" rows="6" required></textarea>
            </div>

            <div class="mb-3">
                <label for="videosLink" class="form-label">Enlaces de Video:</label>
                <input type="text" class="form-control" id="videosLink"  name="videosLink" formControlName="videosLink">
            </div>

            <div class="btn-group mb-3">
              <button class="btn-ver-mas" style="margin-right: 20px;" (click)="editPage()">Guardar Cambios</button>
          </div>
          
        </form>
    </div>
</main>